*{
    margin: 0;
    padding: 0;
}
body{
  font-family: sans-serif;
    background-color: rgb(231, 231, 231);
}
.header{
 width:100%;
 height: 80px;
 background: linear-gradient(to left, #019ED6, #1486af);
}
.logo{
    float: right;
    margin-top: 10px;    
    margin-right: 30px;
    height: 60px;
}

    #menu__toggle {
      opacity: 0;
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;
    }
    
    .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 20px;
      left: 20px;
    
      width: 26px;
      height: 26px;
    
      cursor: pointer;
      z-index: 1;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      z-index: 9;
      width: 100%;
      height: 2px;
    
      background-color: #000000;
    
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    
    .menu__box {
      z-index:20;
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
     
      width: 300px;
      height: 100%;
    
      margin: 0;
      padding: 80px 0;
    
      list-style: none;
    
      background-color: #ECEFF1;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    
      transition-duration: .25s;
    }
    
    .menu__item {
      display: block;
      padding: 12px 24px;
    
      color: #333;
    
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
    
      text-decoration: none;
    
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
    }
    .sludesamega {
      text-align: center;
      margin-top: -20px;
      position: relative;
    }
    
    .sludesamega-inner {
      
      position: relative;
      overflow: hidden;
      width: 100%;
    }
    
    .sludesamega-open:checked + .sludesamega-item {
      position: static;
      opacity: 100;
    }
    
    .sludesamega-item {
      position: absolute;
      opacity: 0;
      -webkit-transition: opacity 0.6s ease-out;
      transition: opacity 0.6s ease-out;
    }
    
    .sludesamega-item img {
      position: relative;
      height: 400px ;
      max-width: 100%;
    }
    
    .sludesamega-control {
      background: rgba(0, 0, 0, 0.28);
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      display: none;
      font-size: 40px;
      height: 40px;
      line-height: 35px;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      cursor: pointer;
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      text-align: center;
      width: 40px;
      z-index: 10;
    }
    
    .sludesamega-control.prev {
      left: 2%;
    }
    
    .sludesamega-control.next {
      right: 2%;
    }
    
    .sludesamega-control:hover {
      background: rgba(0, 0, 0, 0.8);
      color: #aaaaaa;
    }
    
    #sludesamega-1:checked ~ .control-1,
    #sludesamega-2:checked ~ .control-2,
    #sludesamega-3:checked ~ .control-3 {
      display: block;
    }
    
    .sludesamega-indicators {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 2%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 10;
    }
    
    .sludesamega-indicators li {
      display: inline-block;
      margin: 0 5px;
    }
    
    .sludesamega-bullet {
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 35px;
    }
    
    .sludesamega-bullet:hover {
      color: #aaaaaa;
    }
    
    #sludesamega-1:checked ~ .control-1 ~ .sludesamega-indicators li:nth-child(1) .sludesamega-bullet,
    #sludesamega-2:checked ~ .control-2 ~ .sludesamega-indicators li:nth-child(2) .sludesamega-bullet,
    #sludesamega-3:checked ~ .control-3 ~ .sludesamega-indicators li:nth-child(3) .sludesamega-bullet {
      color: #428bca;
    }
    
    #nasetulod {
      position: absolute;
      padding: 0px;
      margin: 0px auto;
      text-align: center;
      font-size: 27px;
      color: rgba(255, 255, 255, 1);
      font-family: 'Open Sans', sans-serif;
      z-index: 9999;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
    }
    .img-text{
      position: absolute;
      top: 20%;
      left: 20%;
      right: 20%;
      color: rgba(255, 255, 255, 1);
      font-size: 30px;
      text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.753), -1px 0px 2px rgba(255, 255, 255, 0);
      z-index: 9;
    }
    .img-sl{
      position	: relative;
    }
    .logo-text{
      float: right;
      margin-top: 20px;    
      margin-right: 30px;
      font-size: 20px;
      color: rgba(255, 255, 255, 1);
      font-family: 'Open Sans', sans-serif;
      text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.753), -1px 0px 2px rgba(255, 255, 255, 0);
    }
    .heading{
      text-align: center;
      margin-top: 20px;    
      font-size: 40px;
      color: #005675;
      font-family: 'Open Sans', sans-serif;
      text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.281), -1px 0px 2px rgba(255, 255, 255, 0);
    }
    .main{
      margin-left: auto;
      margin-right:auto;
      width: 80%;
      margin-bottom: 250px;
    }
    .briefly{
      margin-top: 20px;
      font-size: 17px;
      color: #494949;
      font-family: 'Open Sans', sans-serif;
    }
    .leftimg {
      border: 4px outset #007daa;
      padding: 10px;
      height: 150px;
      float:left; 
      margin-right: 10px; 
     }
     .rightimg{
      border: 4px outset #007daa;
      padding: 10px;
      height: 180px;
      float: right; 
      margin-left: 10px; 
     }
     .footer{

       position:relative;
       height: 126px;
       width: 100%;
       background: linear-gradient(to right, #019ED6, #1486af);
       margin-top: 100px;
     }
     .mini-menu{
       text-align: right;
       float: right;
       margin-right: 3%;
     }
     .mini-menu__item{
      margin-top:  10px;
      display: block;
      color: #333;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 600;
      text-decoration: none;  
      transition-duration: .25s;
     }
     ul{ 
       list-style: none; 
      }
     
     .copy{
      
      float: right;
      bottom:0;
      font-size: 10px;
      color: #494949;
      font-family: 'Open Sans', sans-serif;
     }
     .inf{
       margin-left: 3%;
      position: relative;
       width: 80px;
     }
     hr{
      border-radius: 50px;
       margin-top: 10px;
    border: none; 
    background-color: #005675; 
    height: 4px;
     }
     .mini-heading{
      text-align: center;
      margin-top: 10px;  
      margin-bottom: 10px;  
      font-size: 40px;
      color: #005675;
      font-family: 'Open Sans', sans-serif;
      text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.281), -1px 0px 2px rgba(255, 255, 255, 0);
     }

    .url{
      display:block;
      margin:auto;
      width: 150px;
      height: 150px;
      border-radius: 100px;
      box-shadow: 0 0 7px #666; 
    }
    ::-webkit-scrollbar-button {
      background-image:url('');
      background-repeat:no-repeat;
      width:5px;
      height:10px
      }
      
      ::-webkit-scrollbar-track {
      background-color:#ecedee
      }
      
      ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background-color:#019ED6;
      }
      
      ::-webkit-scrollbar-thumb:hover{
      background-color:#1486af;
      }
      
      ::-webkit-resizer{
      background-image:url('');
      background-repeat:no-repeat;
      width:4px;
      height:0px
      }
      
      ::-webkit-scrollbar{
      width: 10px;
      }